@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Libre+Baskerville|Merriweather|Nunito+Sans|Pridi|Righteous&display=swap');
body, html{
    font-family:'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height:100%;
  }
 
 body {
  font-size: calc(14px + 0.3vw);
  line-height: calc(1.1em + 0.3vw);
 }


body:before {
  content: "";
  display: block;
  position: fixed;
  font-family: 'Nunito Sans', sans-serif;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../img/bg3.jpg") no-repeat center center;
  background-size: cover;
}

main {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 60px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2, h4 {
  text-align: center;
}
.navbar {
  font-size: 18px;
  background: rgb(97,172,152);
  background: linear-gradient(90deg, rgba(97,172,152,1) 36%, rgba(12,194,109,1) 63%, rgba(8,149,59,1) 90%);
  box-shadow: 1px 6px 6px 0px rgba(50, 50, 50, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.904);
}

.main-nav li {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  }

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.active {
  display: block;
}

.footer {
  position: fixed;
  height: 40px;
  /* padding-bottom: 20px; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fafafa;
  text-align: center;
  background-color: rgba(97,172,152,1);
} 


/* Main content INDEX */


.heading-section {
  margin: auto;
  padding: 20px;
}

.heading-section>h2 {
  font-family:'Righteous', cursive;
  color: #3b4f3f;
}

/* video ---------------*/

.history-container>h2 {
 font-family:'Righteous', cursive;
 color: #3b4f3f;
}

.brasov-video {
  display: flex;
  text-align: center;
  padding-top:30px;
  padding-bottom:30px;
}

video {
  width: 60vw;
  margin: auto;
}


/* Main content CONTACT Page */

.container-form {
  text-align: center;
  width: 80vw;
  min-height: 80vh;
  margin: auto;
  padding-bottom: 25px;
}

input[type=text], input[type=tel], select, textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.people {
  text-align: left;
}

.contact-type {
  text-align: left;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 30px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 495px) {
 #myCanvas2 {
   width: 300px;
 }

 footer {
   height: 25px;
 }

}

@media screen and (min-width: 1022px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  .container-form {
    width: 60vw;
    min-height: auto;
  }

  .container {
    padding: 60px;
  }
}

