@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Libre+Baskerville|Merriweather|Nunito+Sans|Pridi|Righteous&display=swap');
body, html{
    font-family:'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height:100%;
  }
 
 body {
  font-size: calc(14px + 0.3vw);
  line-height: calc(1.1em + 0.3vw);
 }


body:before {
  content: "";
  display: block;
  position: fixed;
  font-family: 'Nunito Sans', sans-serif;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../img/bg3.jpg") no-repeat center center;
  background-size: cover;
}


/* 
=============================== 
General styling
=============================== 
*/
main {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 60px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2, h4 {
  text-align: center;
}

/* 
=============================== 
Navbar 
=============================== 
*/
.navbar {
  font-size: 18px;
  background: rgb(97,172,152);
  background: linear-gradient(90deg, rgba(97,172,152,1) 36%, rgba(12,194,109,1) 63%, rgba(8,149,59,1) 90%);
  box-shadow: 1px 6px 6px 0px rgba(50, 50, 50, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.904);
}

.main-nav li {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
}


.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  }

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.active {
  display: block;
}


/* 
=============================== 
Footer 
=============================== 
*/

.footer {
  position: fixed;
  height: 40px;
  /* padding-bottom: 20px; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fafafa;
  text-align: center;
  background-color: rgba(97,172,152,1);
  z-index: 10001;
} 


/* 
=============================== 
HOME Page 
=============================== 
*/

.heading-section {
  margin: auto;
  padding: 20px;
}

.heading-section>h2 {
  font-family:'Righteous', cursive;
  color: #3b4f3f;
}


/* 
=============================== 
HISTORY Page
=============================== 
*/

/* video ---------------*/

.history-container>h2, .main-contact>h2, .main-attractions>h2, .main-events>h2 {
 font-family:'Righteous', cursive;
 color: #3b4f3f;
}

.brasov-video {
  display: flex;
  text-align: center;
  padding-top:30px;
  padding-bottom:30px;
}

video {
  width: 60vw;
  margin: auto;
}

/* Gallery */

.gallery-row {
    text-align: center;
}

.gallery-row figure {
    height: 240px;
    width: 240px;
    margin:0;
    background-size: cover;
	  background-position: 50% 50%;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
    background-repeat:no-repeat;
    z-index:2;
    display:inline-block;
    position:relative;

}

.gallery-row a {
    display: inline-block;
    text-align: center;
    margin:40px;
    text-decoration:none;
    color:white;
}

.gallery-row a p {
    position:absolute;
    opacity: 0;
    font-size: 20px;
    top:45%;
    z-index:100;
    left: 0;
    right: 0;
    margin: auto;
}

figure:hover p {
    opacity:1;
}

figure:after {
    content:"";
    display:inline-block;
    height:100%;
    width:100%;
    background-color:rgba(40, 44, 43, 0.74);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity:0;
    transition: all 0.4s ease-in-out 0s;
    z-index:99;
}

figure:hover:after {
    opacity:0.7;
}

.photo01 {
	background-image: url("https://www.zilesinopti.ro/media/1244319180570b72fc288858.47397812.jpg");
}

.photo02 {
	background-image: url("https://www.zilesinopti.ro/media/uploads//republicii%20veche.jpg");
}

.photo03 {
	background-image: url("https://i.redd.it/gji8rffm2gq01.jpg");
}

.photo04 {
	background-image: url("https://static.playtech.ro/stiri/wp-content/uploads/2019/12/Cronologia-Revolu%C8%9Biei-Rom%C3%A2ne-din-1989.-Filmul-evenimentelor-pe-zile.-Ce-s-a-%C3%AEnt%C3%A2mplat-de-pe-14-decembrie-p%C3%A2n%C4%83-pe-25-1.jpg");
}

.photo05 {
	background-image: url("https://images.squarespace-cdn.com/content/v1/5475c689e4b05a135b085d65/1516348598476-TKX36K70MJRGB67RXISV/ke17ZwdGBToddI8pDm48kHbiX_oRIAwjR2DjJTidV8IUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqOEsifexA3U0hOaW_x0nKBZBc_XQTtV8q0N2_MJvslZ3WUfc_ZsVm9Mi1E6FasEnQ/Peles+Castle+Brasov+Romania?format=1500w");
}

.photo06 {
	background-image: url("http://static.trip101.com/paragraph_media/pictures/001/755/149/large/Biserica_Neagra_2C_Brasov_2C_Romania.jpg?1575969854");
}

.photo07 {
	background-image: url("https://www.hotelambient.ro/wp-content/uploads/2016/12/Poiana-Brasov-1024x577.jpg");
}

.photo08 {
	background-image: url("https://lp-cms-production.imgix.net/features/2016/03/Poiana-Brasov-Transylvania-ski-resort_CS.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4");
}

.photo09 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/651/842/390/brasov-romania-snow-city-wallpaper-preview.jpg");
}

.photo10 {
	background-image: url("https://cdn.ostrovok.ru/t/640x400/content/d6/e6/d6e6cf72e3b791bf6d7838ec0bbbbef4aedd6c66.jpeg");
}

.photo11 {
	background-image: url("https://www.nicerightnow.com/wp-content/uploads/2018/10/Brasov-Romania-Tour-100-Catherines-Gate.jpg");
}

.photo12 {
	background-image: url("https://www.nicerightnow.com/wp-content/uploads/2018/10/Brasov-Romania-Tour-100-roadside.jpg");
}
/* lightbox */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  z-index:300;
}

.lightbox-target .container-photos {
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 50vw;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align:left;
  transform: translate3d(-50%, -50%, 0);
}


.container-photos .elements {
    display:inline-block;
    width: 80%;
    max-height: 425px;

}

ul {
   
    overflow: hidden;
    overflow-y:auto;
    max-height: 369px;
    margin:0;
}

li {
    margin-bottom: 10px;
}

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 0;
  margin: 0;
  padding-top: 10px;
}

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
    height: auto;
    width: 80vw;
    vertical-align: top;
}

/* 
=============================== 
CONTACT Page
=============================== 
*/

.main-contact {
  margin-bottom: 15px;
}
.address-business {
  display: flex;
  justify-content: center;
 
}

.address-business>h3 {
  padding-bottom: 50px;
}
/* Form */

.container-form {
  text-align: center;
  width: 80vw;
  min-height: 80vh;
  margin: auto;
  padding-bottom: 15px;
}

input[type=text], input[type=tel], select, textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.people {
  text-align: left;
}

.contact-type {
  text-align: left;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 30px;
}


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


/* EVENTS Page */

table {
  /* Displayed at the top by default */
  caption-side: bottom;
  border-collapse: collapse;
  margin: auto;
}
 
.myEvents {
  overflow-x:auto;
}

.main-events {
  width: 80vw;
  margin:auto;
 
  /* Add border around the table */
  border: 1px solid #000;
 
  /* Eliminate space between cells */
  border-collapse: collapse;
}
 
/* Add border around cells */
.eventsDaily td, .eventsDaily th {
  border: 1px solid #000;
}
 
/* Style table columns */
.eventsDaily td {
  text-align: center;
  padding: 0.3em;
}
 
/* Style table headings */
.eventsDaily th {
  font-weight: bold;
  padding: 0.3em;
  background-color: #00308F;
  color: #FFF;
}
 
/* Alternate colors on table rows */
.eventsDaily tr:nth-child(odd){
  background-color: #7CB9E8;
}
 
/* Highlight table row on hover */
.eventsDaily tr:hover {
  background-color: #2E5894;
  color: #FFF;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 495px) {
 #myCanvas2 {
   width: 300px;
 }

 footer {
   height: 25px;
 }

}

@media only screen and (min-width: 600px) {
 
  .lightbox-target:target img {
    height: auto;
    width: 60vw;
   
  }
 }

@media screen and (min-width: 1022px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  .container-form {
    width: 60vw;
    min-height: auto;
  }

  .container {
    padding: 60px;
  }

  .lightbox-target:target img {
    height: auto;
    width: 60vw;
  }
}

